# ==========================================
# 必填配置 (Required)
# ==========================================
GOOGLE_API_KEY=
VAULT_DIR=

# ==========================================
# 可选配置 (Optional)
# ==========================================
ANKI_URL=http://127.0.0.1:8765
ANKI_DECK_NAME=Obsidian
ANKI_NOTE_TYPE=Obsidian
OBSIDIAN_VAULT_NAME=my_obsidian_notes
